<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Usuarios</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="../css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">

    <div id="layoutSidenav_content">
        <main>
                    <h1 class="mt-4">Usuarios</h1>
                    <a class="nav-link" href="/index.html">
                        Home
                    </a>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Lista de Usuarios</li>
                    </ol>
                    <div class="card mb-4">
                        <div class="card-body">
                            Aquí se muestran los Encuestadores
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Tabla de Encuestadores
                            <a class="btn btn-primary" href="/templates/register.html">Registrar </a>
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple" class="table">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Nombre</th>
                                    <th>Encuestador</th>
                                    <th>Activo</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="usuario: ${usuarios}">

                                    <td th:text="${usuario.username}"></td>
                                    <td th:text="${usuario.nombre}"></td>
                                    <td th:text="${usuario.encuestador}"></td>
                                    <td th:text="${usuario.active}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2023</div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="../js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="../js/datatables-simple-demo.js"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</body>
</html>

